<% layout('layouts/boilerplate'); %>
<div class="row">
    <h1 class="text-center">New Investment</h1>
    <div class="col-6 offset-3">
        <form action="/coala/new" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="price">Coin</label>
                <select class="form-select" aria-label="Default select example" required>
                    <option value="" disabled="disabled" selected>Choose an option</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Algorithm</label>
                <select class="form-select" aria-label="Default select example" required>
                    <option value="" disabled="disabled" selected>Choose an option</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                           aria-describedby="price-label" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-success">Add Investment</button>
                <br>
            </div>
        </form>
    </div>
</div>
